/* GENERAL */
@import url("../fonts/fonts.css");
:root{
    --green: #5B9F27;
    --green2: #caff94;
    --grey: rgb(0, 0, 0, 0.25);
}
body{
    overflow-x: hidden;
    position: relative;
}
.title10{
    font-size: 24px;
    font-family: 'Roboto';
    letter-spacing: 0.1em;
}
.title5{
    font-size: 18px;
    font-family: 'Roboto';
    letter-spacing: 0.05em;
}
.titleGreen{
    font-size: 48px;
    font-family: 'BlackJack';
    color: var(--green);
    text-align: center;
}
.titleWhite{
    font-size: 36px;
    font-family: 'BlackJack';
    color: #fff;
}
.btnClassic{
    background-color: var(--green);
    border: none;
    height: 60px;
    width: 260px;
    transition: background-color 0.3s;
}
.btnClassic a, .btnTrans a{
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.1em;
    text-decoration: none;
    transition: background-color 0.5s;
}
.btnClassic:hover{
    background-color: var(--green2);
}
.btnClassic:hover a{
    color: var(--green);
}
.btnTrans{
    border: 1px solid #fff;
    height: 60px;
    width: 260px;
    transition: background-color 0.3s;
    background-color: transparent;
}
.btnTrans a{
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.btnTrans:hover{
    background-color: var(--green);
    border: none;
}
.btnTrans:hover a{
    text-shadow: none;
}
.titleSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titleSection span:first-child{
    padding-bottom: 10px;
}
.titleSection .titleGreen{
    width: 380px;
    background-color: #fff;
}
.titleSection .line{
    border: 1px solid var(--green);
    width: 100vw;
    position: relative;
    top: -32px;
    z-index: -1;
}
.shape{
    position: absolute;
    z-index: -1;
}
img[src="assets/img/badge.png"]{
    position: absolute;
    top: 120px;
    left: 30px;
    height: 200px;
}
/* HEADER */
header{
    width: 100vw;
    position: fixed;
    top: 0;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    background-color: #fff;
    z-index: 5;
}
header #headerMain{
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid var(--grey);
}
header #headerMain #headerLeft{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 20px;
}
#headerMain #headerLeft input{
    margin-left: 10px;
    border: 0;
    outline: 0;
    font-family: 'Roboto';
}
#headerMain #headerLeft input::placeholder{
    font-size: 14px;
    color: black;
    font-weight: 500;
}
header #headerLeft img{
    height: 18px;
}
header #headerLeft2{
    display: none;
}
header #headerMain > img{
    height: 48px;
}
header #headerMain #headerRight{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 20px;
    height: auto;
}
header #headerMain #headerRight #btnAccount{
    margin-right: 30px;
}
header #headerMain #headerRight > span{
    margin-right: 10px;
}
header #headerMain #headerRight > span a{
    text-decoration: none;
    color: black;
}
header #headerMain #headerRight > span a:hover{
    text-decoration: underline;
}
header #headerMain #headerRight #cart{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 24px;
    background-color: var(--green);
    position: relative;
    top: -3px;
    border-radius: 0 0 12px 12px;
    color: #fff;
}
header #headerMain #headerRight #cart span{
    position: relative;
    top: 3px;
    font-size: 16px;
    font-weight: 500;
}
#headerNav{
    height: 40px;
    border-bottom: 1px solid var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
}
#headerNav ul{
    display: flex;
}
#headerNav ul li{
    height: 40px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#headerNav ul li:first-child{
    border-bottom: 2px solid var(--green);
}
#headerNav ul li a{
    text-decoration: none;
    color: black;
    position: relative;
    top: 1px;
}
/* HERO */
#hero{
    display: flex;
    justify-content: space-evenly;
    padding: 95px 90px 0 90px;
    height: calc(100vh - 95px);
    align-items: center;
    position: relative;
}
#hero > div{
    height: 62vh;
    width: 600px;
}
#hero #heroLeft img{
    height: 600px;
}
#hero #heroRight{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#hero #heroRight p{
    font-size: 18px;
    font-family: 'Roboto';
    text-align: center;
}
.shape[src="assets/shape/shapeHero1.svg"]{
    right: 0;
    top: 120px;
}
.shape[src="assets/shape/shapeHero2.svg"]{
    left: 50vw;
    transform: translateX(-50%);
    bottom: 0px;
    width: 10vw;
}
/* GAMMES */
#gammes{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    padding: 0 90px;
    position: relative;
}
#gammes > div:nth-of-type(2){
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}
.containerGammes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.containerGammes .btnClassic{
    margin-top: 20px;
}
.shape[src="assets/shape/shapeGammes1.svg"]{
    left: 0;
    top: 225px;
}
.shape[src="assets/shape/shapeGammes2.svg"]{
    right: 0;
    bottom: 0;
}
.shape[src="assets/shape/shapeGammes3.svg"]{
    left: 30vw;
    bottom: 0;
}
/* INSPI */
#inspi{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
#pelemeleContainer{
    margin: 5vh 0;
    padding: 0 15vw;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    row-gap: 20px;
}
#pelemeleContainer > div{
    height: 100%;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-repeat: no-repeat;
}
#pelemeleContainer > div:first-of-type{
    background-image: url(../img/recettes/cocktail1.jpg);
    background-size: cover;
    background-position: center;
}
#pelemeleContainer > div:nth-of-type(2){
    background-image: url(../img/recettes/cocktail2.jpg);
    background-size: cover;
    background-position: center;
    grid-column: span 2;
}
#pelemeleContainer > div:nth-of-type(3){
    background-image: url(../img/recettes/cocktail3.jpg);
    background-size: cover;
    background-position: center;
    grid-column: span 2;
}
#pelemeleContainer > div:last-of-type{
    background-image: url(../img/recettes/cocktail4.jpg);
    background-size: cover;
    background-position: center;
}
#pelemeleContainer .containerElements{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.containerElements p{
    color: #fff;
    font-family: 'Roboto';
    padding: 10px 0 20px 0;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.shape[src="assets/shape/shapeInspi1.svg"]{
    right: 0;
    top: 100px;
}
.shape[src="assets/shape/shapeInspi2.svg"]{
    left: 0;
    bottom: 100px;
}
/* FOOTER */
footer{
    height: 160px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 700;
}
#footerTop{
    display: flex;
    padding: 0 90px;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    border-top: 1px solid var(--grey);
}
#footerTop > div{
    display: flex;
}
#footerTop > div:last-child{
    width: 35vw;
    display: flex;
    justify-content: space-between;
}
#footerTop > div:first-child img:first-child{
    height: 48px;
    padding-right: 5vw;
}
#footerTop p{
    width: 150px;
    font-weight: 500;
}
#footerTop ul{
    display: flex;
    width: 25vw;
    justify-content: space-between;
    align-items: center;
}
#footerTop ul a{
    color: black;
    text-decoration: none;
}
#footerTop a .icons{
    height: 20px;
}
#footerMid{
    display: flex;
    background-color: var(--green);
    color: #fff;
    height: 30px;
    align-items: center;
    justify-content: center;
}
#footerBot{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
@media (max-width: 1320px){
    img[src = "assets/img/badge.png"]{
        z-index: 2;
        height: 15vh;
        top: 75px;
        left: 20px;
    }
    #hero{
        flex-direction: column;
        height: auto;
    }
    #hero > div{
        width: auto;
        height: auto;
    }
    #hero #heroLeft{
        transform: translateX(-10px);
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
    }
    #hero #heroLeft img{
        max-width: 80vw;
        height: auto;
    }
    #hero #heroRight{
        padding-top: 50px;
        width: 90vw;
    }
    .shape[src="assets/shape/shapeHero2.svg"]{
        left: 10vw;
    }
    #gammes{
        height: auto;
        padding: 90px 0;
    }
    #gammes > div:last-of-type{
        grid-template-columns: repeat(2, 1fr);
    }
    #gammes > div:last-of-type > div:last-of-type{
        grid-column: span 2;
    }
    #hero .btnClassic{
        margin-top: 10px;
    }
}
@media (max-width: 760px){
    #gammes{
        width: 100vw;
        overflow: hidden;
    }
    #gammes > div:last-of-type{
        grid-template-columns: none;
        grid-template-rows: repeat(3, 1fr);
    }
    #gammes > div:last-of-type > div:last-of-type{
        grid-column: auto;
    }
}
@media (max-width: 1100px){
    #inspi{
        width: 100vw;
        overflow: hidden;
    }
    #pelemeleContainer{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        column-gap: 0;
        gap: 0;
        padding: 0;
    }
    #pelemeleContainer > div{
        height: 300px;
        margin: 20px;
    }
}
@media (max-width: 850px){
    header #headerNav{
        display: none;
    }
    #btnAccount{
        display: none;
    }
    header #headerMain #headerLeft{
        display: none;
    }
    header #headerMain #headerLeft2{
        display: flex;
        flex-direction: column;
        width: 30px;
        height: 20px;
        justify-content: space-between;
        position: absolute;
        left: 10px;
    }
    #burger{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    header #headerMain #headerLeft2 span{
        height: 2px;
        width: 100%;
        display: block;
        background-color: var(--green);
    }
    header #headerMain #headerRight > span {
        display: none;
    }
    header #headerMain #headerRight{
        right: 10px;
    }
    footer, #footerTop{
        height: auto;
        align-items: center;
        text-align: center;
        overflow-x: hidden;
    }
    #footerTop > div:first-child img:first-child{
        padding-right: 0;
    }
    footer #footerTop, footer #footerTop > div:first-of-type{
        flex-direction: column;
        align-items: center;
        padding-top: 5px;
    }
    footer #footerTop, footer #footerTop > div:last-child{
        width: 90vw;
    }
    footer #footerTop, footer #footerTop > div:last-child ul{
        width: 70vw;
        padding-bottom: 5px;
        padding-top: 5px;
    }
    #footerMid{
        text-align: center;
        height: auto;
        width: 100vw;
        padding: 5px 0;
    }
    #footerBot{
        height: 30px;
    }
    #panelHeader2{
        display: none;
        position: fixed;
        background-color: #fff;
        z-index: 3;
        height: 160px;
        width: 120px;
        padding: 10px;
        top: 54px;
        border: 1px solid var(--green);
        left: 0;
    }
    #panelHeader2 ul{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
    }
    #panelHeader2 a{
        color: var(--green);
        text-decoration: none;
    }
}